{{error.message}}
<!-- <form>
Enter User Name<input type="text" ng-model="user.username"><br>
Enter Password<input type="password" ng-model="user.pass"><br>
Enter First Name<input type="text" ng-model="user.firstname"><br>
Enter Last Name<input type="text" ng-model="user.lastname"><br>
Enter Email id<input type="email" ng-model="user.email"><br>
Enter Phone Number<input type="text" ng-model="user.phonenumber"><br>
select role<br>
<input type="radio" value="Student" ng-model="user.role">Student<br>
<input type="radio" value="Alumini" ng-model="user.role">Alumini<br>
<input type="radio" value="Employee" ng-model="user.role">Employee<br>
<input type="submit" ng-click="registerUser()">
</form>
 -->
<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form"  role="form">
        <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
            <label for="firstname">First name</label>
            <input type="text" name="firstname" id="firstname" class="form-control" ng-model="user.firstname" required />
            <span ng-show="form.firstName.$dirty && form.firstname.$error.required" class="help-block">First name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastname.$error.required }">
            <label for="lastname">Last name</label>
            <input type="text" name="lastName" id="lastname" class="form-control" ng-model="user.lastname" required />
            <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="user.username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.pass.$dirty && form.pass.$error.required }">
            <label for="pass">Password</label>
            <input type="password" name="pass" id="pass" class="form-control" ng-model="user.pass" required />
            <span ng-show="form.pass.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
         <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label for="email">Email Id</label>
            <input type="email" name="email" id="email" class="form-control" ng-model="user.email" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email Id is required</span>
        </div>
         <div class="form-group" ng-class="{ 'has-error': form.phonenumber.$dirty && form.phonenumber.$error.required }">
            <label for="phonenumber">Phone Number</label>
            <input type="text" name="phonenumber" id="phonenumber" class="form-control" ng-model="user.phonenumber" required />
            <span ng-show="form.phonenumber.$dirty && form.phonenumber.$error.required" class="help-block">phonenumber is required</span>
        </div>
        <div  class="form-group" ng-class="{ 'has-error': form.role.$dirty && form.role.$error.required }">
        <label for="role">Role</label>
<input type="radio" value="Student" ng-model="user.role">Student
<input type="radio" value="Alumini" ng-model="user.role">Alumini
<input type="radio" value="Employee" ng-model="user.role">Employee
<span ng-show="form.role.$dirty && form.role.$error.required" class="help-block">Role is required</span>
        </div>
        <div class="form-actions">
            <button type="submit"  class="btn btn-primary" ng-click="registerUser()">Register</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a href="#!/login" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>