<center>
<form>
<table>
	<!-- <tr><td>User Name</td><td> <input type="text" ng-model="currentUser.id" hidden></td></tr> -->
	<tr><td>Password</td><td> <input type="password" ng-model="currentUser.pass"></td></tr>
	<tr><td>First Name</td><td><input type="text" ng-model="currentUser.firstname"></td></tr>
	<tr><td>Last Name </td><td><input type="text" ng-model="currentUser.lastname"></td></tr>
	<tr><td>Email ID</td><td> <input type="email" ng-model="currentUser.email"></td></tr>
	<tr><td>Phone Number</td><td> <input type="text" ng-model="currentUser.phonenumber"></td></tr>
	
	<tr><td></td><td><input type="submit" ng-click="updateUser()"></td></tr>
</table>
</form>
</center>